<div class="info">
  <div class="info-title">
    <%= infoitem.name %>
    <p>
      〒<%= infoitem.postal_code %>
      <%= infoitem.city %>
      <%= infoitem.address %>
    </p>
  </div>

  <div class="info-main">
    <div class="info-img"><%= image_tag infoitem.image_url %></div>
    <div class="info-des">
      <%= infoitem.description %>
      <%= link_to "詳細はこちら", infoitem.url, target: "_blank" %>
    </div>
  </div>

  <div class="infoaddress">
    <%= image_tag infoitem.rating_img_url %>

  </div>
</div>
